#cont{
text-align:center;
border-radius: 20px;
height:500px;
width: 400px;
padding-left:100px;
}
#btn{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width:100px;
    height:80px;
    border-radius: 10px;
}


