.addforms{
    text-align:center;
    border-radius: 10px;
    height:590px;
    width: 550px;
    background-color: plum;
}
span{
    color:red;
    display: none;
}
table {
    border-collapse: separate;
    border-spacing: 25px;
    margin-left:auto;
    margin-right:auto;
}
.header {
    overflow: hidden;
    background-color: darkmagenta;
    border-radius:10px;
    padding: 20px 10px;
}
.header h3{
    float:left;
    color:white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="text"],
input[type="number"]
{
    width: 170px;
    height: 30px;
    border-radius: 10px;;
}

body{
    background-color:grey;
}

.delforms{
    height:250px;
    width:520px;
    background-color:plum;
    border-radius: 20px;
}